.bookLibrary {
    border-color: black;
    border-style: solid;
}

.btnRead {
    color: red;
}

.btnRemove {
    color: red;
}

.submitNewBookHidden {
    display: none;
}

.submitNewBookShow {
    display: block;
}